:root {
    --primary-color: #291a06;
    --primary-color-light: #c28239;
    --text-color: #fff;
    --secondary-color: black;
}
*{
    transition: all 1s linear;
    list-style: none;
    text-decoration: none;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: var(--primary-color);
}
  
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid var(--primary-color-light);
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}
  
@keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    } 
}
 /* ennds    */

/* home begins  */
body{
    font-family: "Open Sans", sans-serif;
    /* max-width: 100%; */
}
.body{
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    color: var(--text-color);
    padding: 8rem 0 5rem 0;
}
header{
    /* padding-right: 8rem; */
    /* margin-right: 10rem; */
    top: 0;
    width: 100%;
    background: rgb(241, 239, 236);
    position: fixed;
    display: flex;
    /* justify-content: space-between; */
    gap: 20rem;
    z-index: 2;
}
.logo{
    margin-top: 5px;
    width: 100px;
    height: 80px;
}
nav{
    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 1rem;
}
nav a{
    color: var(--primary-color);
}
nav a:hover,
.slidebox ul li a:hover{
    color: var(--primary-color-light);
}


.menu{
    position: absolute;
    top: 1.5rem;
    font-size: 2rem;
    width: 50px;
    color: black;
    display: none;
    
}
/*.slidebox{
    background: rgb(148, 139, 139);
    color: white;
    padding: 2rem 0;
    position: absolute;
    top: 5rem;
    right: 0;
    width: 150px;
    height: 160px;
    text-align: left;
    z-index: 1;
    border-radius: 5rem 0 0 0;
    display: none;
}
.slidebox ul li a{
    color: black;
    line-height: 3rem;
}*/
.text{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.3rem;
    width: 500px; 
}
.text-box b{
    font-family: "Jost", sans-serif;
    font-size: 2.5rem;
    line-height: 4rem;
    font-weight: bolder;
}
a{
    color: #fff;
}
.vid-box{
    display: flex;
    gap: 0.5rem;
}
.btn-get{
    font-size: 0.8rem;
    text-align: center;
    border: 2px solid var(--primary-color-light);
    padding: 0.8rem;
    border-radius: 50px;
    transition: 200ms;
}
.btn-get:hover{
    letter-spacing: 5px;
}
/* .body .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
} */
@keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    
    100% {
        transform: translateY(-10px);
    }
}
/* home ends  */


/* services begins  */
.box {
    margin: 0 0 2rem 0;
    padding: 2rem 5rem 4rem 5rem; 
    line-height: 1.5rem;
    background: rgb(234, 233, 233);
}
.top{
    text-align: center;
}
.top h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--primary-color);
} 
.top h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #6b6a6a;
    bottom: 1px;
    left: calc(50% - 60px);
} 
.top h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--primary-color-light);
    bottom: 0;
    left: calc(50% - 20px);
}

.list{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.listchild{
    display: flex;
    gap: 1rem;
}
.list .smallbox {

    text-align: center;
    background: white;
    width: 200px;
    padding: 1.5rem 1rem;
    border: 2px solid rgb(216, 215, 215);;
}
.list .smallbox i{
    color: #c28239;
    font-size: 3rem;
    line-height: 2rem;
}
.list .smallbox span{
    font-weight: 600;
}
.list .smallbox p{
    /* text-align: justify; */
    color: #6b6a6a;
    font-size: 0.8rem;
}
/* services ends  */


/* # Cta */
.cta {
    padding: 0 10rem 2rem 10rem  ;
}
.cta-box{
    text-align: center;
    color: black;
}
.cta-box .top h1{
    margin-bottom: 3rem;
}
.cta-box .imgBox img{
    width: 80px;
    margin-right: 2rem;
    height: 80px;

}
.cta-box .imgBox .pio{
    border: 5px solid #c6b362;
    padding: 0.2rem;
    width: 70px;
    height: 60px;
}
.cta h3 {
    text-align: center;
    color:black;
    font-size: 40px;
    font-weight: 700;
}



/* # Contact */
.contact{
    background: rgb(234, 233, 233);
    padding: 2rem 0 0.5rem 0;
}
.container{
    margin: 2rem 0 3rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.contents{
    border-top: 3px solid var(--primary-color-light);
    border-bottom: 3px solid var(--primary-color-light);
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.contact .contentsss{
    padding-top: 5rem;

}
.contact .contentsss i{
    font-size: 20px;
    color: var(--primary-color-light);
    float: left;
    width: 44px;
    height: 44px;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}
.contact .contentsss span {
    bottom: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}
.contact .contentsss p {
    padding: 0 0 10px 60px;
    line-height: 1.3rem;
    font-size: 14px;
    color: gray;
}
.content2 i:hover{
    background: #bb6706;
    color: white;
}
.section-title{
    text-align: center;
}


/* form  */

form{
    width: 500px;
}
.contact form textarea:focus, 
.contact form input:focus{
    border-color: var(--primary-color-light);
}
form .formBox .row{
    display: flex;
    gap: 1rem;
}
form .formBox .row input{
    margin: 0.2rem 0 1rem 0;
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid grey;
}
.contact form textarea {
    margin: 0.5rem 0 2rem 0;
    width: 95%;
    height: 100px;
    outline: none;
    border: 1px solid grey;
    padding: 10px 12px;
}
.contact form button[type=submit] {
    background: burlywood;
    padding: 12px 34px;
    border: none;
    color: var(--primary-color);
    border-radius: 50px;
}
.contact form button[type=submit]:hover {
    background: #bd721b;
}
.contact form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.contact form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
.contact form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
   text-align: left;
   padding: 15px;
   font-weight: 600;
}

.all{
    color: var(--primary-color); 
}
.body .img img{
    border-radius: 2rem;
    margin: 5rem 0 0 2rem;
    width: 30rem;
    height: 300px;
}


/* last  */
.last p{
    font-size: 0.9rem;
}
.last .lastly{
    font-weight: lighter;
    font-size: 0.8rem;
}
.last hr{
    width: 80%;
    margin-bottom: 2rem;
}
.last{
    padding-top: 4rem;
    text-align: center;
    padding-bottom: 2rem;
}
/* last ends  */




/* responsiveness  */
@media screen and (max-width: 1100px) and (min-width: 700px){
    .logo{
        width: 80px;
        height: 60px;
    }
    header{
        padding: 0;
        width: 100%;    
    }
    nav{
        margin: 1.5rem 0 0 0;
    } 
    .body .img img {
        margin: 3rem 0 0 0;
        width: 300px;
        height: 200px; 
    }
    .body .text-box b{
        font-size: 1.5rem;
    }
    .body .text-box .text  {
        width: 300px;
        margin: 0; 
        line-height: 1rem;
    }
    .body .text p{
        font-size: 0.7rem;              
    }
    .body .text-box{
        padding: 0 2rem;
    }
    .btn-get{
        padding: 0.5rem;
    }
    .list{
        gap: 0.5rem;
    }
    .listchild{
        display: grid;
        gap: 0.5rem;
    }
    .list .smallbox {
        width: 300px;
        padding: 1rem;
    }
    .list .smallbox i{
        font-size: 2rem;
    }
    .list .smallbox span{
        font-size: 0.8rem;
    }
    .list .smallbox p{
        color: #6b6a6a;
        font-size: 0.7rem;
    }
    .contact{
        background: rgb(234, 233, 233);
        padding: 2rem 0 1rem 0;
    }
    form{
        margin-left: 0;
        width: auto;
    }
    .contact form button[type=submit] {
        padding: 0.5rem 1rem;
    }
    .contact form input {
        display: flex;
        margin: 0.5rem 0 0.5rem 0;
        height: 20px;
    }
    .contents {
        padding: 1rem 4rem 1rem 1rem;
        background: #fff;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    }
    .contact form .formBox {
        display: inline;
        margin-right: 1rem;
    }
    .contact form .formBox .row{
        display: flex;
    }
    .contentsss i{
        margin: 0 0.5rem 0 1rem;
    }
    .container{
        flex-direction: column;
    } 
    .contact .contentsss{
        padding: 0.5rem 0 0.5rem 0;
        width: 100%;
    }
} 
@media screen and (max-width: 700px) and (min-width: 500px){
    .body .text p{
        margin: auto;
        width: 400px;
        font-size: 0.6rem;              
    }
    .body .text-box .vid-box{
        margin: 1rem 0 0 4rem;
    }
    .btn-get{
        padding: 0.5rem;
    }
    .list{
        gap: 0.5rem;
    }
    .listchild{
        display: grid;
        gap: 0.5rem;
    }
    .list .smallbox {
        width: 300px;
        padding: 1rem;
    }
    form .formBox .row{
        display: inline;
        gap: 1rem;
    }
    form{
        width: auto;
        margin: 0;
    }
}
@media screen and (max-width: 700px) and (min-width: 300px) {
    .logo{
        width: 80px;
        height: 60px;
    }
    header{
        padding-left: 0;
        width: 100%;    
    }
    nav{
        display: none;
    } 
    .menu{
        display: block;
        right: 1rem;
        top: 1rem;
    }
    .body{
        flex-direction: column-reverse;
        text-align: center;
        padding: 5rem 10px 1rem 10px;
    }
    .body .img img {
      display: none;
      /* margin: 5rem 0 0 0;
      width: 80%;
      height: 40%; */
    }
    .body .text-box b{
        font-size: 1rem;
    }
    .body .text-box .text  {
        width: auto;
        margin: 0; 
        line-height: 1rem;
    }
    .body .text p{
        font-size: 0.6rem;              
    }
    .body .text-box{
        margin-left: 0;
    }
    .box {
        margin: 0 0 0 0;
        padding: 1rem 0;
    }
    .list{
        width: auto;
        display: grid;
        justify-content: center;
        margin: auto;
    }
    .list .listchild{
        display: grid;
    }
    .list .smallbox {
        text-align: center;
        background: white;
        padding: 1.5rem 4rem;
        border: 2px solid rgb(216, 215, 215);;
    }
    .list .smallbox i{
        color: #c28239;
        font-size: 2rem;
        line-height: 0;
    }
    .list .smallbox p{
        text-align: center;
        color: #6b6a6a;
        font-size: 0.9rem;
        /* width: 200px; */
        display: flex;
    }
    .cta-box{
        padding-bottom: 0;
    }
    .cta {
        padding: 0 0 1rem 0;
    }
    .cta-box marquee{
        margin: 0 2rem ;
    }
    .cta-box .top h1{
        margin-top: 1.5rem;
        font-size: 1.3rem;
    }
    form{
        margin-left: 0;
        width: auto;
    }
    .contact form button[type=submit] {
        padding: 0.5rem 1rem;
    }
    .contact form input {
        margin: 0.5rem 0 0.5rem 0;
        height: 20px;
    }
    .contents {
        padding: 1rem 4rem 1rem 1rem;
        background: #fff;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
    }
    .contact form .formBox {
        display: inline;
        margin-right: 1rem;
    }
    .contentsss i{
        margin: 0 0.5rem 0 1rem;
    }
    .container{
        flex-direction: column;
    } 
    .contact .contentsss{
        padding: 0.5rem 0 0.5rem 0;
        width: 100%;
    }
    form .formBox .row{
        display: inline;
        gap: 1rem;
    }
    .last{
        padding: 1.5rem 0 1rem 0;
    }
}
@media screen and (max-width: 500px) and (min-width: 300px){
    .body .text-box .vid-box{
        margin-left: 0;
    }
    .btn-get {
        padding: 0.5rem;
        margin: 0 0 0 0;
    }
    form .formBox .row{
        display: inline;
    }
    form .formBox .row input{
        height: 20px;
    }
}